/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Left circle: #8c3d62
  Right circle: #ff8582
*/

.box {
  background-color: #030026;
}

.shape {
  position: relative;
  background-color: #8c3d62;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 70px;
  top: 75px;
  box-shadow: 105px 0 #ff8582;
}