/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F7EC7D
  Orange: #E38F66
  Red: #AA445F
*/

.box {
  background-color: #62306d;
}

.switch {
  position: relative;
  background-color: #AA445F;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.switch::before {
  position: absolute;
  content: '';
  background-color: #E38F66;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 140px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.switch::after {
  position: absolute;
  content: '';
  background-color: #F7EC7D;
  width: 100px;
  height: 100px;
  top: 50px;
  border-radius: 50%;
  box-shadow: 140px 0 #F7EC7D;
}