/* 
Colors:
  Background: #1A4341
  Yellow: #F3AC3C
  Olive: #998235
*/

.box {
  background-color: #1a4341;
}

.shape-1 {
  position: relative;
  background-color: #F3AC3C;
  width: 100px;
  height: 80px;
  margin-inline: auto;
  top: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.shape-1::before {
  position: absolute;
  content: '';
  background-color: #998235;
  width: 100px;
  height: 85px;
  margin-inline: auto;
  top: 55px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.shape-1::after {
  position: absolute;
  content: '';
  background-color: #998235;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 30px;
  box-shadow: 50px 0 #F3AC3C, 115px -25px 0 -15px #998235, 115px -55px 0 -15px #998235;
}

.shape-2 {
  position: relative;
  background-color: #F3AC3C;
  width: 50px;
  height: 20px;
  margin-inline: auto;
  top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shape-2::before {
  position: absolute;
  content: '';
  background-color: #F3AC3C;
  width: 150px;
  height: 20px;
  top: -40px;
  left: -25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.shape-2::after {
  position: absolute;
  content: '';
  background-color: #F3AC3C;
  width: 20px;
  height: 40px;
  top: -40px;
  left: 105px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -90px 10px #F3AC3C;
}