/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#222730
  Blue: #4CAAB3
  Grey: #393E46
*/

.box {
  background-color: #222730;
}

.shape {
  position: relative;
  background-color: #4CAAB3;
  width: 100%;
  height: 150px;
  top: 75px;
}

.shape::before {
  position: absolute;
  content: '';
  background-color: #4CAAB3;
  width: 250px;
  height: 250px;
  left: 75px;
  top: -50px;
  rotate: 45deg;
  border: 50px solid #222730;
}

.shape::after {
  position: absolute;
  content: '';
  background-color: #393E46;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 175px;
  top: 50px;
}