/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #F3AC3C
  Green: #1A4341
  Olive: #998235
*/

.box {
  background-color: #f3ac3c;
}

.rectangle {
  position: relative;
  background-color: #1A4341;
  width: 200px;
  height: 200px;
  margin-inline: auto;
  top: 50px;
}

.rectangle::before {
  position: absolute;
  content: '';
  background-color: #998235;
  width: 100px;
  height: 100px;
  bottom: 0;
}

.rectangle::after {
  position: absolute;
  content: '';
  background-color: #F3AC3C;
  width: 50px;
  height: 50px;
  bottom: 0;
  left: 50px;
}