/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#191919
  Orange: #E08027
  Brown: #824B20
  Yellow: #FFF58F
*/

.box {
  background-color: #191919;
}

.circle {
  position: relative;
  background-color: #824B20;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-inline: auto;
  top: 70px;
}

.circle::before {
  position: absolute;
  content: '';
  background-color: #E08027;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 30px;
  left: 30px;
}

.circle::after {
  position: absolute;
  content: '';
  background-color: #FFF58F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 70px;
  left: 20px;
  box-shadow: 100px 0 #FFF58F;
}