/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#191919
  Orange: #E08027
  Brown: #824B20
  Yellow: #FFF58F
*/

.box {
  background-color: #191919;
}

.circle {
  position: relative;
  background-color: #E08027;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-inline: auto;
  top: 70px;
  border: 30px solid #824B20;
}

.circle::before {
  position: absolute;
  content: '';
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  border: 20px solid #FFF58F;
  border-top-color: transparent;
  border-left-color: transparent;
  rotate: 44deg;
}

.circle::after {
  position: absolute;
  content: '';
  background-color: #FFF58F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40px;
  left: -10px;
  box-shadow: 100px 0 #FFF58F;
}