/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #121212
  Circle:#3278ff
  Rectangle:#ffe58e
  Union: #79d6ff
*/

.box {
  width: 394px;
  height: 296px;
  background-color: #121212;
}

.shape {
  position: relative;
  background-color: #3278ff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-inline: auto;
  top: 50px;
  overflow: hidden;
}

.shape::before {
  content: '';
  position: absolute;
  background-color: #79d6ff;
  width: 74px;
  height: 126px;
  top: 72px;
}