/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #64414b
  Orange: #ff955f
  Yellow: #ffd7b4
*/

.box {
  background-color: #64414b;
}

.shape {
  position: relative;
  width: 89px;
  height: 90px;
  overflow: hidden;
}

.shape::before {
  content: '';
  position: absolute;
  background-color: #ff955f;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  /* box-shadow: 100px 100px #ff955f; */
}

/* .shape::after {
  content: '';
  position: absolute;
  background-color: #ffd7b4;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  top: 10px;
  left: 60px;
} */