/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Yellow:#F3AC3C
*/

.box {
  background-color: #0b2429;
}

.triangle {
  position: relative;
  background-color: #F3AC3C;
  width: 200px;
  height: 200px;
  rotate: 45deg;
  top: -100px;
  left: -100px;
}